<footer>
    <footer class="site-footer">

    <div class="footer-social">

        <a href="https://instagram.com/juusillanpaa"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="Instagram">
            <i class="bi bi-instagram"></i>
        </a>

        <a href="https://threads.net/@juusillanpaa"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="Threads">
            <i class="bi bi-threads"></i>
        </a>

        <a href="https://facebook.com/juusillanpaa"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="Facebook">
            <i class="bi bi-facebook"></i>
        </a>

        <a href="https://x.com/juusillanpaa"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="X">
            <i class="bi bi-twitter-x"></i>
        </a>

        <a href="https://bsky.app/profile/BLUESKY-OSOITE"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="Bluesky">
            <i class="bi bi-bluesky"></i>
        </a>

    </div>

    <p>
        © <span id="current-year"></span>
        Juhani Sillanpää.
        Designed by Eliittivisio Tmi
    </p>

</footer>
    </footer>  